
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: blue;">
  Ace Turtle
</nav>
<div class="row" style="padding: 30px;">
  <div class="col-md-6 mat-elevation-z8">
    <div class="container">
      <div class="row" style="padding: 30px;">
        <div class="col-md-12">
          <label>X - Coordinate</label>
          <input type="number" name="x" [(ngModel)]="xCord" class="form-control">
        </div>
        <div class="col-md-12">
          <label>Y - Coordinate</label>
          <input type="number" name="y" [(ngModel)]="yCord" class="form-control">
        </div>
        <div class="col-md-12">
          <label>Width</label>
          <input type="number" name="width" [(ngModel)]="width" class="form-control">
          
        </div>
        <div class="col-md-12">
          <label>Height</label>
          <input type="number" name="height" [(ngModel)]="height" class="form-control">
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="outer-block">
      <div class="inner-block one-dot"
        cdkDrag 
        cdkDragBoundary=".outer-block"
        (cdkDragEnded)="onDragEnded($event)" id="innerBox"
        [ngStyle]="{'transform': 'translate(' + xCord + 'px, ' + yCord + 'px)'}"
        [style.width.px]="width"
        [style.height.px]="height"
        > 
        <span></span>
      </div>
    </div>
    </div>
    </div>